body {
    background: white;
}

/* Override button background color */
.close-btn {
    background-color: transparent;
    border: none;
}

/* Styling for empty avatar icon */
.empty-avatar {
    font-size: 2rem; /* Adjust size as needed */
    color: white; /* Color of the icon */
    padding: 20px; /* Add some padding for spacing */
    text-align: center; /* Center the icon */
}

/* Updated styling for the sidebar */
#side_nav {
    background: black;
    width: 250px; /* Adjust width as needed */
    min-height: 100vh;
}

/* Updated styling for the content */
.content {
    flex: 1; /* Allow content to expand and fill remaining space */
    padding: 20px; /* Add some padding */
}

/* Adjustments for the admin header */
.adminHeader {
    margin-left: 250px; /* Same as sidebar width to align with the sidebar */
}

.sideBarList {
    margin-top:25%;

    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: left; /* Centers items vertically */
/* Ensure the list takes up the full height of the sidebar */
}


.sideNav li.active{
    background: rgb(255, 255, 255);
    border-radius:2px;
    margin:2%;
    padding:5px;
    color:black;
}

.sideNav li.active a, .sidebar li.active a:hover{
    color:black;
}

.sideNav li a{
    color: white;
}

.sideNav{
    color:white;


    margin:2%;
    padding:5px;
    
}

a{
    color: white !important;
}

.sideNav:hover{
border-radius:2px;
border:0.5px solid white;
}

.sideNav .active{
    background:white;
    color:black;
}

.test{
    display: flex;
    background:rgba(0, 0, 0, 0.914);
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color:white;
}