body {
    background: white;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    margin-right: 0px !important;
    scroll-behavior:smooth;
 
 
}


.close-btn {
    background-color: transparent;
    border: none;
}


.empty-avatar {
    font-size: 2rem;
    color: white; 
    padding: 20px; 
    text-align: center; 
}


#side_nav {
    background: url(/resources/pictures/sidebar_bg.png);
    width: 250px; 
    min-height: 100vh;
    color:black !important;
    background-size: contain;

    background-repeat: no-repeat;
    background-attachment:fixed;
}



.content {
    flex: 1; 
    padding: 20px; 
}


.adminHeader {
    margin-left: 250px; 
}
.sideBarList {
    margin-top:25%;

    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: left; 

}


.sideNav li.active{
    background: rgb(255, 255, 255);
    border-radius:2px;
    margin:2%;
    padding:5px;
    color:black !important;
}

.sideNav li.active a, .sidebar li.active a:hover{
    color:black;
}

.sideNav li a{
    color: rgb(0, 0, 0) !important;
}

.sideNav{
    color:rgb(0, 0, 0) !important;


    margin:2%;
    padding:5px;
    
}

a{
    color: rgb(0, 0, 0) !important;
}

.sideNav:hover{
border-radius:2px;
border:0.5px solid rgb(3, 3, 3);
}

.sideNav .active{
    background:white;
    color:black;
}

.test{
    display: flex;
    background:white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color:rgb(0, 0, 0);
    flex-direction: column;
}

.test a{
    margin:2px;
}

.navigationBar{
    background-image: url(/resources/pictures/navbar_bg.png);
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment:fixed;
  color:black !important;
  z-index: 1;
}

.navigationBar2{
    background:rgba(255, 255, 255, 0.038);
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment:fixed;
  color:rgb(255, 255, 255) !important;
  z-index: 1;
}


.navigationBar a.nav-link{
    color:black !important;
}

.navigationBar a.nav-link:hover{
 
    border-radius: 20px;
    transform: scale(1.05);
}
.navBrandLogo{
    color:black !important;
}

.navBrandLogo2{
    color:rgb(255, 255, 255) !important;
}


.navigationBar2 a.nav-link{
    color:rgb(255, 255, 255) !important;
}


.dark-burger .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='%23000' class='bi bi-list' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M2 4.5A.5.5 0 0 1 2.5 4h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 4.5zm0 3A.5.5 0 0 1 2.5 7h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 7.5zm0 3A.5.5 0 0 1 2.5 10h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 10.5z'/%3e%3c/svg%3e");
  }
  

#adminDashHeader{
    background:url(/resources/pictures/header_bg.png);
    background-size:cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: -4.5px 3px 7.5px -0.5px #dddddd;
  -moz-box-shadow: -4.5px 3px 7.5px -0.5px #dddddd;
  box-shadow: -4.5px 3px 7.5px -0.5px #dddddd;
}

.contentContainer{
    -webkit-box-shadow: -3px 3px 10px 3px #dddddd;
-moz-box-shadow: -3px 3px 10px 3px #dddddd;
box-shadow: -3px 3px 10px 3px #dddddd;
margin-top:5%;
padding:20px;
border-radius: 12px;
min-height:70vh;
}

.services{
    display: flex;
    background:rgba(175, 175, 175, 0.914);
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color:rgb(0, 0, 0);
    flex-direction: column;
}

.Pcard .card-body:hover{
transform:scale(1.02);
cursor:pointer;
}

.Pcard .card-title{
    background: rgb(255, 255, 255);
    border-radius:20px;
    padding:20px;
    font-weight:500;
    font-size: medium;
    -webkit-box-shadow: inset 8px 12px 14px -0.5px #dddddd;
-moz-box-shadow: inset 8px 12px 14px -0.5px #dddddd;
box-shadow: inset 8px 12px 14px -0.5px #dddddd;
text-align: center;
}

.Pcard .card-body{
    background:#99D2FF;
    border-radius: 20px;
    -webkit-box-shadow: -8px 6px 10px -1px #dddddd;
-moz-box-shadow: -8px 6px 10px -1px #dddddd;
box-shadow: -8px 6px 10px -1px #dddddd;
padding:25px;
}

.Pcard .card-text{
    font-weight:500;
}

.Pcard{
    border: none !important;
}

/* Add the following CSS at the end of your style.css file */

/* CSS for the content container */
.content {
    flex: 1; /* Take remaining space */
    overflow: hidden; /* Hide overflow content */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Column layout */
    padding: 20px; /* Add padding */
}

.contentContainer {
    overflow-y: auto; /* Enable vertical scrolling */
    flex-grow: 1; /* Expand to fill available space */
}

.adminHeader {
    padding: 10px; /* Add padding */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Take full width */
    }
    .adminHeader {
        margin-left: 0; /* Remove margin */
    }
}


.search-bar{
    max-width: 200px;
    margin-bottom: 10px;
}

.carousel-item {
    max-height: 300px; /* Set a fixed height for the carousel items */
}

.indexHeaderImage{
    width:100%;
    
}

.bgGradient{
    background: url("/resources/pictures/card.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.adminCard{
    border-radius: 30px !important;
    border: none !important;
    max-width:300px;
    padding:5%;
    
}

.loginWrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}
.loginField{
background:rgb(245, 245, 245);
border:none;
-webkit-box-shadow: -8px 9px 19px 1px #dbdbdb;
-moz-box-shadow: -8px 9px 19px 1px #dbdbdb;
box-shadow: -8px 9px 19px 1px #dbdbdb;
padding:5%;
width:100%;
border-radius:12px ;
min-width:400px;
}
