body {
    background: white;
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    margin-right: 0px !important;
    scroll-behavior:smooth;
 
 
}


.close-btn {
    background-color: transparent;
    border: none;
}


.empty-avatar {
    font-size: 2rem;
    color: white; 
    padding: 20px; 
    text-align: center; 
}


#side_nav {
    background: url(/resources/pictures/sidebar_bg.png);
    width: 100%; 
    max-width:250px;
    height:90vh;
    color:black !important;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
    -webkit-box-shadow: -3px 3px 10px 3px #dddddd;
    -moz-box-shadow: -3px 3px 10px 3px #dddddd;
    box-shadow: -3px 3px 10px 3px #dddddd;
    transition: all 0.2s; 
    overflow:hidden;
}

.contentWrap{
    margin-top:6%;
}

@media(max-width:991px){
.contentWrap{
    margin-top: 20%;
}
}

.content {
    flex: 1; 
    padding: 20px; 
}


.adminHeader {
    margin-left: 250px; 
}
.sideBarList {
    margin-top:25%;

    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: left; 

}


.sideNav li.active{
    background: rgb(255, 255, 255);
    border-radius:2px;
    margin:2%;
    padding:5px;
    color:black !important;
}

.sideNav li.active a, .sideNav li.active a:hover{
    color:black;
}

.sideNav li a{
    color: rgb(0, 0, 0) !important;
}

.sideNav{
    color:rgb(0, 0, 0) !important;


    margin:2%;
    padding:5px;
    
}

a{
    color: rgb(0, 0, 0) !important;
}

.sideNav li:hover{
border-radius:12px !important;
border-bottom: 3px solid#139bff;


}

.sideNav .active{
    background: #139bff !important;
    
    border-radius: 12px !important;
    padding:10px !important;
}

.test{
    display: flex;
    background: url("/resources/pictures/page_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color:rgb(0, 0, 0);
    flex-direction: column;
    overflow: hidden;
}

.test a{
    margin:2px;
}

@media(max-width:730px){
    .test{
        padding:5%;
    }
}
@media(max-width:650px){
    .test{
        padding:7%;
    }
}
@media(max-width:550px){
    .test{
        padding:10%;
    }
}
@media(max-width:400px){
    .test{
        margin-top: 15%;
        padding:10%;
    }
}

.navigationBar{
    background-image: url(/resources/pictures/navbar_bg.png);
  background-size:contain;
  background-position:inherit;
  background-repeat: no-repeat;
  background-attachment:fixed;
  color:black !important;
  width:100%;
  height:20%;
  border-bottom:10px solid rgb(255, 225, 0);


  z-index: 1;
}

@media(max-width:991px){
    .navigationBar{
        height:auto;
    }
}



.navigationBar2{
    background:rgba(0, 0, 0, 0) !important;
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment:fixed;
  color:rgb(0, 0, 0) !important;
  z-index: 1;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  overflow:hidden;

}


.navigationBar a.nav-link{
    color:black !important;
}

.navigationBar a.nav-link:hover{
 
    border-radius: 20px;
    transform: scale(1.05);
}
.navBrandLogo{
    color:black !important;
}

.navBrandLogo2{
    color:rgb(255, 255, 255) !important;
}



.navigationBar2 a.nav-link{
    color:rgb(255, 255, 255) !important;
}


.dark-burger .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='%23000' class='bi bi-list' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M2 4.5A.5.5 0 0 1 2.5 4h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 4.5zm0 3A.5.5 0 0 1 2.5 7h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 7.5zm0 3A.5.5 0 0 1 2.5 10h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 10.5z'/%3e%3c/svg%3e");
  }
  

#adminDashHeader{
    background:url(/resources/pictures/header_bg.png);
    background-size:cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: -4.5px 3px 7.5px -0.5px #dddddd;
  -moz-box-shadow: -4.5px 3px 7.5px -0.5px #dddddd;
  box-shadow: -4.5px 3px 7.5px -0.5px #dddddd;
}

.contentContainer{
    -webkit-box-shadow: -3px 3px 10px 3px #dddddd;
-moz-box-shadow: -3px 3px 10px 3px #dddddd;
box-shadow: -3px 3px 10px 3px #dddddd;
margin-top:5%;
padding:20px;
border-radius: 12px;
min-height:70vh;
}

.services{
    display: flex;
    background:rgba(175, 175, 175, 0.914);
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color:rgb(0, 0, 0);
    flex-direction: column;
}

.Pcard .card-body:hover{
transform:scale(1.02);
cursor:pointer;
}

.Pcard .card-title{
    background: rgb(255, 255, 255);
    border-radius:20px;
    padding:20px;
    font-weight:500;
    font-size: medium;
    -webkit-box-shadow: inset 8px 12px 14px -0.5px #dddddd;
-moz-box-shadow: inset 8px 12px 14px -0.5px #dddddd;
box-shadow: inset 8px 12px 14px -0.5px #dddddd;
text-align: center;
}

.Pcard .card-body{
    background:#99D2FF;
    border-radius: 20px;
    -webkit-box-shadow: -8px 6px 10px -1px #dddddd;
-moz-box-shadow: -8px 6px 10px -1px #dddddd;
box-shadow: -8px 6px 10px -1px #dddddd;
padding:25px;
}

.Pcard .card-text{
    font-weight:600;
}

.Pcard{
    border: none !important;
}

/* Add the following CSS at the end of your style.css file */

/* CSS for the content container */
.content {
    flex: 1; /* Take remaining space */
    overflow: hidden; /* Hide overflow content */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Column layout */
    padding: 20px; /* Add padding */
}

.contentContainer {
    overflow-y: auto; /* Enable vertical scrolling */
    flex-grow: 1; /* Expand to fill available space */
}

.adminHeader {
    padding: 10px; /* Add padding */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Take full width */
    }
    .adminHeader {
        margin-left: 0; /* Remove margin */
    }
}


.search-bar{
    max-width: 200px;
    margin-bottom: 10px;
}

.carousel-item {
     /* Set a fixed height for the carousel items */
}

.indexHeaderImage{
    max-width:100%;
    height:auto;
    
}

.bgGradient{
    background: url("/resources/pictures/card.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.adminCard{
    border-radius: 30px !important;
    border: none !important;
    max-width:300px;
    padding:5%;
    
}

.loginWrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0);
}
.loginField{
background:rgb(237, 237, 237);
border:none;
-webkit-box-shadow: -8px 9px 19px 1px #dbdbdb;
-moz-box-shadow: -8px 9px 19px 1px #dbdbdb;
box-shadow: -8px 9px 19px 1px #dbdbdb;
padding:5%;
width:100%;
border-radius:12px ;
min-width:400px;
}

.signUpField{
    background:white;

padding:10%;
width:100%;
border-radius:12px ;
min-width:400px;
max-height:80vh;
overflow:scroll;
}

@media(max-width:770px)
{
    .signUpField{
        padding:10%;
        max-height:65vh;
        overflow:auto;
    }
}

.sidebar{
background: rgba(255, 255, 255, 0.474) !important;
}

.step-progress {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.step-progress .step {
    position: relative;
    flex: 1;
    text-align: center;
}

.step-progress .step:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -50%;
    width: 100%;
    height: 4px;
    background-color: #e9ecef;
    z-index: 0;
    transform: translateY(-50%);
}

.step-progress .step.completed::before {
    background-color: #82dc03;
}

.step-progress .step .circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #e9ecef;
    display: inline-block;
    z-index: 1;
    position: relative;
}

.step-progress .step.completed .circle {
    background-color: #82dc03;
    color: #fff;
}

.step-progress .step .label {
    margin-top: 10px;
    display: block;
}

.clientLoginBackground{
    background:url("/resources/pictures/clientBackgroundBlur.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding:5%;
    background-attachment: scroll;
}

  .clientLogin2{
    width:100%;
    height:100vh;
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    
  }

  @media(max-width:991px){
    .clientLogin2{
          padding:10%;

          }
  }
.loginField2 {
    background: rgba(255, 255, 255, 0.114);
    border-radius: 12px;
    padding: 40px;

    min-width: 300px;
}

@media(max-width:700px){
    .loginField2{
        min-width:100px;
        max-height:65vh;
    }
}

.loginField2 {
    background: rgba(231, 231, 231, 0.742);
    border-radius: 12px;
    padding: 40px;

    min-width: 300px;
}

.clientLoginHeader {
    flex: 1;
    margin-right: 20px;
    text-align: left;
}
@media(max-width:991px){
    .clientLoginHeader{
        display:none;
    }
}

.loginField2 {
    flex: 1;
    max-width: 400px;
}

.yellowTextBlkShd {
    color: rgb(255, 225, 0);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}


@media (max-width: 991px) {
    .clientLogin2 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: ;
    }
    .clientLoginHeader, .loginField2 {
        margin: 10px 0;
        width: 100%;

    }


}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.modal-dialog.wide-modal {
    max-width: 80%; 
}

.modal-dialog.medium-modal{
    max-width:60%;
}

.form-control {
    margin-bottom: 1rem; /* Add margin between form controls */
}

.form-check {
    margin-bottom: 0.5rem; /* Add margin between checkboxes */
}

.row.g-3 .col-md-6,
.row.g-3 .col-md-4,
.row.g-3 .col-md-12 {
    margin-bottom: 1rem; /* Add margin to columns */
}

.d-flex .me-2 {
    margin-right: 1rem; /* Add margin to the right of the input */
}

.aboutContainer{
    -webkit-box-shadow: -9.5px 8px 14px 3px #dddddd;
-moz-box-shadow: -9.5px 8px 14px 3px #dddddd;
box-shadow: -9.5px 8px 14px 3px #dddddd;
width:80%;
background-color: #ffffff;
padding:5%;
overflow: scroll;
justify-content: center;
max-height:500px;
border-radius: 12px;
}

.homepage{
  
    padding:7%;
    overflow: scroll;
    
}

.avatar-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative; /* Add this line */
    margin: 0 auto;
}

.avatar-placeholder img {
    width: 100%;
    height: auto;
}

.avatar-text {
    text-align: center;
    margin-top: 10px;
}

.plus-button {
    width: 30px;
    height: 30px;
    background-color: #007bff;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px; /* Adjust this value as needed */
    right: 5px; /* Adjust this value as needed */
    border: 2px solid white;
    z-index: 1;
}

.plus-button:hover {
    background-color: #0056b3;
}




#chat-container {
    width: 50%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

#chat-messages .message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    max-width: 70%;
}

#send-message-form {
    display: flex;
    border-top: 1px solid #ddd;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#send-message-form button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.client-chat #chat-messages .message.sent {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
    text-align: right;
}

.client-chat #chat-messages .message.received {
    background-color: #e5e5e5;
    align-self: flex-start;
    text-align: left;
}

.admin-chat #chat-messages .message.sent {
    background-color: #28a745;
    color: #fff;
    align-self: flex-end;
    text-align: right;
}

.admin-chat #chat-messages .message.received {
    background-color: #e5e5e5;
    align-self: flex-start;
    text-align: left;
}

.aboutWrap{
    width:60%;
    text-indent: 5px;
    text-align: center;
    padding:5%;
    margin-top:30px;
}

.hsdLogo{
    width:100px;
}

.booked {
    background-color: #0029b1;
}
.available {
    background-color: #d4edda;
    cursor: pointer;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it covers everything */
}

.fetching-loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it covers everything */
}

.fetching-loading-screen .loading-text {
    margin-top: 10px;
    font-size: 18px;
    color: #007bff;
}


@media(max-width: 767px){
    #side_nav{
        margin-left:-250px;
        position: fixed;
        min-height: 100vh;
        z-index:3;
    }
    #side_nav.active{
        margin-left:0;
    }
}


/* Smaller screens */
@media (max-width: 576px) {
    .loginWrapper {
        padding: 40px;
    }

    .form-control {
        font-size: 0.8rem;
    }
    .loginField{
        padding:20%;
    }
}


.clientSignUpWrapper{
    background:url("/resources/pictures/clientBackgroundBlur.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    background-attachment: fixed;
    width:100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow:auto;
}


 /* Responsive styling */
 .navbar-brand-text {
    display: none;
}
@media (max-width: 992px) {
    .navbar-brand-text {
        display: none;
    }
    .navbar-brand-short {
        display: block;
    }
}
@media (min-width: 993px) {
    .navbar-brand-text {
        display: block;
    }
    .navbar-brand-short {
        display: none;
    }
}

.stepByStep{
    background:white;
    border-radius: 12px;
    padding:10px;
}

.navLogo{
    width:50px;
}

.navbarLogoText{
    display:block;
}

@media(max-width:530px){
    .navbarLogoText{
        display:none;
    }
}

.dropdown-menu {
    display: none;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 0;
}

.dropdown-menu.show {
    display: block;
    max-height: 200px; /* Adjust as needed */
}

.submenu {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
}

.dropdown.open .submenu {
    max-height: 200px; /* Adjust as needed */
}

.form-label .required-asterisk {
    color: red; 
    font-weight: bold; 
    font-size: 1.2em; 
  }